@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Expense Application</h1>
    <p>Enter Expenses from the Menu item above</p>
</div>
